# Google Sheets API Credentials
# Create a Service Account in Google Cloud Console: https://console.cloud.google.com/iam-admin/serviceaccounts
# Download the JSON key and copy the values here.

GOOGLE_CLIENT_EMAIL=your-service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# The ID of the Google Sheet to write to
GOOGLE_SHEET_ID=1Ng_ItkiSLgfHOBTlX0CVN5l51eQM-55v_YYLw81XauM
